@{
    ViewBag.Title = "Proyecto de la asignatura DSM de Ingenieria Multimedia de la UA";
}

<h2 class="w3-center w3-text-crimson w3-padding-32">@ViewBag.Title</h2>

<div class="w3-row-padding" id="about">
    <div class="w3-col l7 12">
        <h4>
            La aplicion es un gestor de reservas de restaurantes. El uso es el siguiente:<br /><br />
            Se puede buscar un restaurante por ciudad, por calle, por nombre, por numero de comensales y para un dia y una hora en concreto.<br /><br />
            El objetivo de la practica es aprender a usar .NET entre otras tecnologias. El diseño de las relaciones entre entidades se va a realizar con una herramienta de la universidad (OOH4RIA), con ella se crea visualmente las tablas, las variables y los metodos esenciales y se genera el codigo en C# en el que se trabajara para desarrollar la aplicacion.
        </h4>

    </div>
    <div class="w3-col l5 12">
        <!-- Image of location/map -->
        <img src="../../imgs/ua.jpg" class="w3-image" style="width:100%;">
    </div>
</div>

<h3 class="w3-text-crimson">Las herramientas que se han usado para el proyecto son:</h3>
<ul>
    <li>OOH4RIA (eclipse)</li>
    <li>Visual Studio 2018</li>
    <li>ASP.NET (Visual Studio)</li>
    <li>GIT</li>
    <li>GitHub</li>
</ul>

<h3 class="w3-text-crimson">Integrantes</h3>
<ul>
    <li>David Gonzalez</li>
    <li>David Navas</li>
    <li>Oscar Plaza</li>
    <li>Diego Carcamo</li>
    <li>Carlos Santiago</li>
    <li>Gaspar Tortosa</li>
</ul>
