@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>


<h2>Proyecto de la asignatura DSM de Ingenieria Multimedia de la UA</h2>
<p> La aplicion es un gestor de reservas de restaurantes. El uso es el siguiente: se puede buscar un restaurante por ciudad, por calle, por nombre, por numero de comensales y para un dia y una hora en concreto.
    El objetivo de la practica es aprender a usar .NET entre otras tecnologias. El disenioo de las relaciones entre entidades se va a realizar con una herramienta de la universidad, con ella se crea visualmente las tablas, las variables y los metodos esenciales y se genera el codigo en C# en el que se trabajara para desarrollar la aplicacion.
    Las herramientas que se han usado para el proyecto son:
    OOH4RIA (eclipse)
    Visual Studio 2018
    ASP.NET (Visual Studio)
    GIT
    GitHub
</p>
<h2>Integrantes</h2>
<ul>
    <li>David Gonzalez</li>
    <li>David Navas</li>
    <li>Oscar Plaza</li>
    <li>Diego Carcamo</li>
    <li>Carlos Santiago</li>
    <li>Gaspar Tortosa</li>
</ul>
