@{
    ViewBag.Title = "Home Page";
}

<header class="w3-container w3-center w3-padding-32">
    <h1 class="w3-title"><b>LE PAPEO</b></h1>
    <h3>Página principal de vistas de Administrador.</h3>
</header>

<div class="w3-content w3-padding" style="max-width:1564px">
    <!-- Navegacion -->

    <div class="w3-container w3-padding-32" id="projects">

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Usuario</div>
                    <a href="../Usuario"><img class="w3-index-img" src="../../imgs/user.png" alt="Usuario" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Registrado</div>
                    <a href="../Registrado"><img class="w3-index-img" src="../../imgs/registrado.png" alt="Registrado" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Administrador</div>
                    <a href="../Admin"><img class="w3-index-img" src="../../imgs/admin.png" alt="Admin" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Notificación</div>
                    <a href="../Notificacion"><img class="w3-index-img" src="../../imgs/noti.png" alt="Notificacion" style="width:100%"></a>
                </div>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Notificación Genérica</div>
                    <a href="../NotificacionGenerica"><img class="w3-index-img" src="../../imgs/gene.png" alt="Notificacion" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Horario Dia</div>
                    <a href="../HorarioDia"><img class="w3-index-img" src="../../imgs/day.png" alt="Dia" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Horario Semana</div>
                    <a href="../HorarioSemana"><img class="w3-index-img" src="../../imgs/week.png" alt="Semana" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Restaurante</div>
                    <a href="../Restaurante"><img class="w3-index-img" src="../../imgs/rest.png" alt="Restaurante" style="width:100%"></a>
                </div>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Tipo Cocina</div>
                    <a href="../TipoCocina"><img class="w3-index-img" src="../../imgs/tipo.png" alt="Tipo Cocina" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Ciudad</div>
                    <a href="../Ciudad"><img class="w3-index-img" src="../../imgs/city.png" alt="Ciudad" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Reservas</div>
                    <a href="../Reserva"><img class="w3-index-img" src="../../imgs/reser.png" alt="Reserva" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Notificación Genérica</div>
                    <a href="../NotificacionGenerica"><img class="w3-index-img" src="../../imgs/user.png" alt="Notificacion" style="width:100%"></a>
                </div>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Opinión</div>
                    <a href="../Opinion"><img class="w3-index-img" src="../../imgs/opinion.png" alt="Opinion" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                    <div class="w3-display-topleft w3-crimson w3-padding">Dirección</div>
                    <a href="../Direccion"><img class="w3-index-img" src="../../imgs/dir.png" alt="Ciudad" style="width:100%"></a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container">
                </div>
            </div>
        </div>
    </div>
</div>