@model IEnumerable<LePapeo.Models.NotificacionViewModel>
@using LePapeoGenNHibernate.CEN.LePapeo;
@using LePapeoGenNHibernate.EN.LePapeo;
@using LePapeoGenNHibernate.CAD.LePapeo;
<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Home Page"; 

    List<TipoCocinaEN> listaTipoCocina = (List<TipoCocinaEN>)ViewData["listaTipoCocina"];

    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (TipoCocinaEN e in listaTipoCocina)
    {
        {
            String txt = e.Tipo;
            listItems.Add(new SelectListItem
            {
                Text = txt,
                Value = e.Tipo
            });
        }
    }

}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Content/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>

<body class="w3-content w3-body-mainbg" style="max-width:1564px; min-width: 400px;">

    <header class="w3-container w3-center w3-padding-32"></header>

    @*<div class="w3-content w3-padding" style="max-width:1564px">*@
    <br />
    <br />
    <br />

    <h2 class="w3-right-align w3-text-red">Reserva en tus restaurantes favoritos <br /> de forma c&oacute;moda, r&aacute;pida y al mejor precio</h2>
    <br />
    <br />
    <!--Buscador-->
    <div class="w3-center">
        <form method="post" action="Home/ResultadosDeBusqueda">
            <div class="w3-buscador-contenedor w3-fontOpenSans" style="font-size: 16px;">
                @Html.DropDownList("tipococina", listItems, "Tipo de Cocina", new { @class = "w3-buscador-select" })

                <input type="text" name="nombre" value="" placeholder="Nombre del restaurante" class="w3-buscador-text" size="100" />

                <select class="w3-buscador-select" name="diabusqueda">
                    <option value="vacio">D&iacute;a de la semana</option>
                    <option value="0">Lunes</option>
                    <option value="1">Martes</option>
                    <option value="2">Mi&eacute;rcoles</option>
                    <option value="3">Jueves</option>
                    <option value="4">Viernes</option>
                    <option value="5">Sabado</option>
                    <option value="6">Domingo</option>
                </select>

                <select class="w3-buscador-select" name="comensales">
                    <option value="0">N&uacute;mero de comensales</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                </select>

                <input type="text" name="ciudad-provincia" value="" placeholder="Ciudad o provincia" class="w3-buscador-text" size="100" />
                <input type="text" pattern="((0[1-9]|5[0-2])|[1-4][0-9])[0-9]{3}" name="codpos" value="" placeholder="Codigo Postal (Solo numeros)" class="w3-buscador-text" size="100" />


                <input type="submit" name="submit-busqueda" value="Buscar" class="w3-buscador-submit" />
            </div>
        </form>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />


    <!--Ciudades-->
    <div class="w3-center w3-margin-top">
        <a href="#"><img src="~/imgs/madrid.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/barcelona.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/valencia.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/bilbao.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/sevilla.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/zaragoza.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/donostia.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/malaga.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
        <a href="#"><img src="~/imgs/granada.png" alt="Alternate Text" class="w3-ciudades-hover" /></a>
    </div>
    <br />
    <br />

    <!--Así funciona-->
    <hr />
    <div class="w3-container w3-center">
        <h2 class="w3-center">As&iacute; funciona</h2>
        <img src="~/imgs/comofunciona.JPG" alt="Como funciona" class="w3-center w3-image" />
    </div>
    <hr />
    <br />
    <br />

    <!--Unete restaurante-->
    <div class="w3-container w3-center">
        <h2 class="w3-center">Si eres due&ntilde;o de un restaurante</h2>
        <br />
        <img src="~/imgs/tfm.png" alt="Unete restaurante" class="w3-image w3-center w3-margin-bottom" />
        <br />
        <div>
            <a href="#" class="w3-fontOpenSans">DESCUBRE LOS SERVICIOS Y VENTAJAS PARA LOS RESTAURANTES</a>
        </div>
    </div>
    <hr />
    <br />

    <!--Redes sociales-->
    <div class="w3-container w3-center">
        <h2 class="w3-center">S&iacute;guenos</h2>
        <br />
        <a href="#"><img src="~/imgs/instagram.png" alt="Instagram" class="w3-image w3-center w3-display-inline-block" width="100" /></a>
        <a href="#"><img src="~/imgs/facebook.png" alt="Facebook" class="w3-image w3-center w3-display-inline-block" width="100" /></a>
        <a href="#"><img src="~/imgs/twitter.png" alt="Twitter" class="w3-image w3-center w3-display-inline-block" width="100" /></a>
    </div>

    @*</div>*@
</body>
</html>